{% block content %}
{% if departments_list %}
	<ul>
		{% for department in departments_list %}
			<li><a href="{% url 'depdetail' department.name  %}"> {{ department.name }}
			</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No questionnaires are available.</p>
{% endif %}
{% endblock %}
